.content-grid {
  display: grid;
}

.column-2 {
  grid-template-columns: 1fr 1fr;
}

.column-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.content-item {
  margin: 1.5rem 2rem;
}

.content-item img {
}
